<main class="main">
  <div class="custom-container bg-white rounded-4">
    <div class="row m-0">
      <div class="col p-5">
         <app-component-form [title]="title" (calculate)="onCalculate($event)" (clear)="onshowResults($event)" ></app-component-form>
      </div>
      <div class="col bg-results p-5 text-center">
         <app-component-results [showResults]="showResults"  [monthlyRepayment]="monthlyRepayment"  [totalRepayment]="totalRepayment" ></app-component-results>
      </div>
    </div>
  </div>
</main>
<router-outlet />
