body {
    font-family: 'Plus Jakarta Sans', sans-serif;
    background-color: #e3f3fd;
    padding: 2rem;
}

.custom-container {
    max-width: 63rem;
    margin-left: auto;
    margin-right: auto;
    overflow: hidden;
}